<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset Brickulator Password for <%= @user.email %></h1>
    <p>
      Follow this link to: <a href="<%= @password_reset_url %>?password_reset_token=<%= @reset_token %>">Reset Your Password</a>
    </p>
    <p>
      If you didn't request a password reset, disregard this email.
    </p>
  </body>
</html>
